<div class="container" xmlns="">
  <mat-list>
    <button mat-icon-button [attr.cy-id]="'details-close'" mat-button class="close" [mat-dialog-close]="true">
      <mat-icon class="close-icon" color="black">close</mat-icon>
    </button>
    <h3 matSubheader>Car Details</h3>
    <mat-list-item datasrc="car">
      <h1 style="font-size: 40px" [attr.cy-id]="'details-title'">{{car?.brand}} {{car?.model}}</h1>
    </mat-list-item>
    <mat-list-item datasrc="car">
      <div class="div-detail">
        <span>ProductionYear:</span>
        <span [attr.cy-id]="'details-production'">{{car?.productionYear}}</span>
      </div>
    </mat-list-item>
    <mat-list-item datasrc="car">
      <div class="div-detail">
        <span>Capacity:</span>
        <span [attr.cy-id]="'details-capacity'">{{car?.capacity}}</span>
      </div>
    </mat-list-item>
    <mat-list-item datasrc="car">
      <div class="div-detail">
        <span>Category:</span>
        <span [attr.cy-id]="'details-category'">{{car?.category | titlecase}}</span>
      </div>
    </mat-list-item>
    <mat-list-item datasrc="car">
      <div class="div-detail">
        <span>Horse Power:</span>
        <span [attr.cy-id]="'details-power'">{{car?.horsePower}}</span>
      </div>
    </mat-list-item>
    <mat-list-item datasrc="car">
      <div class="div-detail">
        <span>Company:</span>
        <span [attr.cy-id]="'details-company'">{{car?.providerCompany}}</span>
      </div>
    </mat-list-item>
    <mat-list-item datasrc="car">
      <div class="div-detail">
        <span>Description:</span>
        <span [attr.cy-id]="'details-description'">{{car?.description}}</span>
      </div>
    </mat-list-item>
    <mat-list-item *ngIf="car">
      <app-check-price style="width: 100%;" *appVisibleFor="[Client, null]" [car]="car"></app-check-price>
    </mat-list-item>
  </mat-list>

</div>
