<mat-toolbar color="primary">
  <button mat-icon-button [routerLink]="''">
    <mat-icon>home</mat-icon>
  </button>
  <button class="main-title" mat-button [routerLink]="''">
    <h1 >Car Rentals</h1>
  </button>
  <span class="menu-spacer"></span>
  <button *appVisibleFor="[]" mat-button [routerLink]="'history'">
    <mat-icon>history</mat-icon>
    Account history
  </button>
  <button *appVisibleFor="[]" mat-button [routerLink]="'currentlyRented'">
    <mat-icon>directions_car</mat-icon>
    Currently rented cars
  </button>
  <app-auth></app-auth>
</mat-toolbar>
