<h2 mat-dialog-title>Enter date range</h2>
<div mat-dialog-content>
    <mat-form-field>
      <mat-label>Choose start date</mat-label>
      <input [formControl]="start" matInput [matDatepicker]="picker" [min]="minDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="tryBook()">Book now</button>
</div>
